#mainwrapper header {
	background-color: #D0CFCF;
	overflow: auto;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}
#mainwrapper header #logo {
	width: 28%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #929292;
}
#mainwrapper header nav {
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 68%;
	float: left;
	color: #929292;
}
header nav a {
	padding-right: 2%;
}
#content #mainContent h1, #content #mainContent h2 {
	color: #929292;
}
#content #mainContent h3 {
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #929292;
}
#content #mainContent #bannerImage {
	width: 100%;
	background-color: #D0CFCF);
}
#content #mainContent p {
	color: r#929292;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	text-align: justify;
}
#content #mainContent #authorInfo {
	background-color: #D0CFCF;
}
#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	color:#FFFFFF ;
	padding-left: 2%;
	padding-top: 11px;
}
#content #mainContent #authorInfo p {
	color: #FFFFFF;
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
}
footer article {
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #D0CFCF);
}
footer article h3 {
	text-align: center;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}
#mainContent {
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper #content #sidebar {
	width: 19%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: #F6F6F6);
	margin-top: 150px;
	padding-top: 32px;
}
#mainwrapper {
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
#content #sidebar input {
	width: 98%;
	height: 32px;
}
#content #sidebar #adimage {
	width: 100%;
	background-color: #D0CFCF;
	margin-top: 46px;
	float: none;
	overflow: auto;
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: #929292;
	text-decoration: none;
}
#footerbar {
	height: 24px;
	clear: both;
	background-color: #D0CFCF;
	width: 100%;
	color: white;
	padding-left:45%;
}
footer {
	width: 71%;
	padding-left: 2%;
	padding-right: 2%;
}
.notOnDesktop {
	display: none;
}
#mainContent #bannerImage img {
	width: 100%;
}
#sidebar #adimage img {
	width: 100%;
	float: left;
}
#mainwrapper header nav a {
	color: #929292;
	text-decoration: none;
}
input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #C0C0C0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D3D3D3;
}
a:link {
    color: #929292;
	text-decoration: none;
}
a:visited {
    color: #929292;
}
a:hover {
    color: #404040;
}
a:active {
    color: black;
}

#commentsSection h3 {
	font-size: 20px;
}
#commentsSection h2 {
	font-size: 15px;
}
#commentsSection h1 {
	font-size: 30px;
}
#commentsSection p {
	border-bottom: 1px solid #e1e1e1;
}
#commentsSection h4 {
	font-size: 15px;
	color: #929292;
}
